%ul
  %li
    %h4
      =entry.title
    =link_to entry.url, entry.url
    =entry.author
    =entry.published
    %p
      =truncate_html(entry.content, length: 300, omission: '...(continued)')
      
